@{ int role = Convert.ToInt32(Session["Admin_Role"]); }
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Website Bán Hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.ckeditor.com/ckeditor5/19.1.1/decoupled-document/ckeditor.js"></script>
    <link rel="stylesheet" href="~/Public/Admin/css/all.min.css">

    <link href="~/Public/Admin/images/icon-256x256.png" rel="shortcut icon" type="image/x-icon" />

    <link href="~/Public/Admin/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">

    <link href="~/Public/Admin/css/summernote-bs4.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Public/Admin/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Public/Admin/css/OverlayScrollbars.min.css">
    <link href="~/Public/Admin/css/sweetalert2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/css/dataTables.bootstrap4.min.css">
    <link href="~/Public/Admin/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Public/Admin/css/style.css">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/Public/Admin/css/font-sans.pro.css">
    <style>
        .note-editable {
            min-height: 200px;
        }

        .note-toolbar {
            margin: 0 auto;
            padding: 5px 0;
        }

        .text-csm {
            font-family: Arial, Helvetica, sans-serif;
            color: #dc3545;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 17px;
            padding: 10px 0 0 10px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="overlay justify-content-center align-items-center d-none bg-secondary w-100 h-100 position-absolute" style="z-index:1; opacity:.3" id="delay"><i class="fas fa-2x fa-sync fa-spin"></i>Đang xử lý...</div>
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

            </ul>
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit"><i class="fas fa-search"></i> </button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <img src="~/Public/Admin/images/logo.jpg" class="img-circle elevation-1" alt="Image" width="35" style="margin-top:-5px">
                    </a>

                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="min-width:200px; font-size: 15px;">
                        <span class="dropdown-item dropdown-header font-weight-bold text-drank d-block">@Session["Admin_Name"]</span>
                        <div class="dropdown-divider"></div>
                        
                        <div class="dropdown-divider"></div>
                        <a href="~/Admin/Logout" class="dropdown-item dropdown-footer text-left">
                            <i class="fas fa-sign-out-alt mr-2"></i>Đăng xuất
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="~/Admin" class="brand-link">
                <img src="~/Public/Admin/images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Quản Trị</span>
            </a>
            <style>
                #menu a {
                    color: white;
                }
            </style>
            @if (role == 1)
            {
        <div class="sidebar">
            <nav class="mt-2" id="menu">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Category/Index" class="nav-link">
                            <i class="fas fa-copyright nav-icon"></i>
                            <p>
                                Loại sản phẩm
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Category/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Category/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Category/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Product/Index" class="nav-link">
                            <i class="nav-icon fas fa-parking"></i>
                            <p>
                                Sản phẩm
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Product/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Product/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Product/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Product/Statistical" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thống kê</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Topic/Index" class="nav-link">
                            <i class="fab fa-tumblr-square nav-icon"></i>
                            <p>
                                Chủ đề bài viết
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Topic/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Topic/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Topic/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Post/Index" class="nav-link">
                            <i class="fab fa-pinterest-square nav-icon"></i>
                            <p>
                                Bài viết
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Post/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Post/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Post/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Order/Index" class="nav-link">
                            <i class="fab fa-opera nav-icon"></i>
                            <p>
                                Đơn hàng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Order/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="~/Admin/Order/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Contact/Index" class="nav-link">
                            <i class="fab fa-cuttlefish nav-icon"></i>
                            <p>
                                Liên hệ
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Contact/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Contact/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Slider/Index" class="nav-link">
                            <i class="fab fa-stripe-s nav-icon"></i>
                            <p>
                                Slider
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Slider/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Slider/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/User/Index" class="nav-link">
                            <i class="fab fa-uniregistry nav-icon"></i>
                            <p>
                                Thành viên
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/User/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Khách hàng</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/User/IndexAdmin" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Quản trị</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/User/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/User/Trash" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thùng rác</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/GroupUser/Index" class="nav-link">
                            <i class="fas fa-address-book nav-icon"></i>
                            <p>
                                Nhóm người dùng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/GroupUser/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/GroupUser/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/ProductOwner/Index" class="nav-link">
                            <i class="fas fa-address-book nav-icon"></i>
                            <p>
                                Chi nhánh
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/ProductOwner/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/ProductOwner/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>


                        </ul>
                    </li>
                </ul>
            </nav>
        </div> }
                    else
                    {
        <div class="sidebar">
            <nav class="mt-2" id="menu">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Dashboard" class="nav-link">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                Dashboard
                            </p>
                        </a>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Post/Index" class="nav-link">
                            <i class="fab fa-pinterest-square nav-icon"></i>
                            <p>
                                Bài viết
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Post/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="~/Admin/Post/Create" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Thêm mới</p>
                                </a>
                            </li>


                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="~/Admin/Order/Index" class="nav-link">
                            <i class="fab fa-opera nav-icon"></i>
                            <p>
                                Đơn hàng
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="~/Admin/Order/Index" class="nav-link">
                                    <i class="fas fa-angle-right nav-icon"></i>
                                    <p>Danh sách</p>
                                </a>
                            </li>



                        </ul>
                    </li>



                </ul>
            </nav>
        </div>            }



        </aside>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>

    <footer class="main-footer">
       
    </footer>


    <script src="~/Public/Admin/js/jquery.min.js"></script>
    <script src="~/Public/Admin/js/bootstrap.bundle.min.js"></script>

    <script src="~/Public/Admin/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/Public/Admin/js/adminlte.min.js"></script>

    <script src="~/Public/Admin/js/jquery.dataTables.min.js"></script>
    <script src="~/Public/Admin/js/dataTables.bootstrap4.min.js"></script>


    <script src="~/Public/Admin/js/sweetalert2.min.js"></script>
    <script src="~/Public/Admin/js/summernote-bs4.min.js"></script>

    <script src="~/Public/Admin/js/j.js"></script>
    <script src="~/Public/Admin/js/toastr.min.js"></script>
    <script src="~/Public/Admin/js/karma.laclac.min.js"></script>
    <script>$(function () { $('.textarea').summernote() })</script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=699266887289373&autoLogAppEvents=1" nonce="xJm9L3lp"></script>

</body>

</html>